In [2]:
# Importing dependencies
import pandas as pd

In [3]:
# Reading in the data to a DataFrame
df = pd.read_csv("./Resources/vine_table.csv")
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10000WMGXS51T,5.0,1.0,1.0,N,Y
1,R10003OLR2P5UE,3.0,0.0,0.0,N,N
2,R10005O193PJ6W,3.0,2.0,2.0,N,Y
3,R10008LR7CU84N,1.0,2.0,4.0,N,Y
4,R10009JN2UWOJC,5.0,0.0,0.0,N,Y

In [4]:
df.count()

review_id            3093869
star_rating          3093861
helpful_votes        3093861
total_votes          3093861
vine                 3093861
verified_purchase    3093861
dtype: int64

In [5]:
# Creating a DataFrame for reviews with greater than 20 total votes
total_vote_20_df = df[(df['total_votes']>=20.0)]       
total_vote_20_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
54,R1006F8KOWS090,4.0,31.0,32.0,N,Y
56,R1006OV0UQLA13,1.0,6.0,45.0,N,N
76,R1009X65HCF99E,5.0,63.0,76.0,N,N
137,R1005XCXUSVE54,2.0,4.0,94.0,N,N
149,R100774RX4D4LZ,5.0,22.0,30.0,N,N

In [6]:
# Total number of reviews with over 20 votes
total_vote_20_df.count()

review_id            58554
star_rating          58554
helpful_votes        58554
total_votes          58554
vine                 58554
verified_purchase    58554
dtype: int64

In [7]:
# DataFrame composed of at least 50% helpful votes to total votes
filtered_df = total_vote_20_df.loc[total_vote_20_df.helpful_votes / total_vote_20_df.total_votes >= 0.5]
filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
54,R1006F8KOWS090,4.0,31.0,32.0,N,Y
76,R1009X65HCF99E,5.0,63.0,76.0,N,N
149,R100774RX4D4LZ,5.0,22.0,30.0,N,N
165,R1009PEEVIJTK6,1.0,45.0,51.0,N,Y
184,R100BTJQN9UE9F,5.0,27.0,28.0,N,N

In [8]:
# 
vine_reviews = filtered_df.loc[filtered_df.vine == 'Y']
vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2846,R105D6YM2O2VUZ,4.0,71.0,77.0,Y,N
4710,R107QMT3AEA6VS,2.0,48.0,55.0,Y,N
7195,R10BPEKPVNA39I,4.0,29.0,30.0,Y,N
10245,R10G5QATYX3KM4,5.0,24.0,34.0,Y,N
10295,R10GASA6G78GEL,4.0,86.0,90.0,Y,N

In [9]:
nonvine_reviews = filtered_df.loc[filtered_df.vine == 'N']
nonvine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
54,R1006F8KOWS090,4.0,31.0,32.0,N,Y
76,R1009X65HCF99E,5.0,63.0,76.0,N,N
149,R100774RX4D4LZ,5.0,22.0,30.0,N,N
165,R1009PEEVIJTK6,1.0,45.0,51.0,N,Y
184,R100BTJQN9UE9F,5.0,27.0,28.0,N,N

In [10]:
# Vine review (paid) count
vine_reviews.count()

review_id            1080
star_rating          1080
helpful_votes        1080
total_votes          1080
vine                 1080
verified_purchase    1080
dtype: int64

In [11]:
# Non-Vine review (unpaid) count
nonvine_reviews.count()

review_id            49673
star_rating          49673
helpful_votes        49673
total_votes          49673
vine                 49673
verified_purchase    49673
dtype: int64

In [12]:
fivestar_vine_reviews = vine_reviews.loc[vine_reviews.star_rating == 5.0]
fivestar_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
10245,R10G5QATYX3KM4,5.0,24.0,34.0,Y,N
18316,R10T6YEZ7K69PF,5.0,73.0,84.0,Y,N
18987,R10TYB525HSSG,5.0,15.0,22.0,Y,N
25350,R114AKYQZUZYIY,5.0,50.0,58.0,Y,N
28674,R119PGPNX1QPXI,5.0,120.0,134.0,Y,N

In [13]:
fivestar_nonvine_reviews = nonvine_reviews.loc[nonvine_reviews.star_rating == 5.0]
fivestar_nonvine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
76,R1009X65HCF99E,5.0,63.0,76.0,N,N
149,R100774RX4D4LZ,5.0,22.0,30.0,N,N
184,R100BTJQN9UE9F,5.0,27.0,28.0,N,N
196,R100D1BTTDG5DN,5.0,69.0,75.0,N,N
204,R100EFV3RXHC2X,5.0,12.0,20.0,N,Y

In [18]:
fivestar_vine_reviews.review_id.count()

454

In [17]:
fivestar_nonvine_reviews.review_id.count()

23043

In [45]:
# Percentage of paid 5 star reviews to unpaid
perc_vine_nonvine = fivestar_vine_reviews.review_id.count() / fivestar_nonvine_reviews.review_id.count()
print(perc_vine_nonvine)

0.01970229570802413

In [46]:
# Percentage of 5 star reviews to total reviews for paid (vine) reviewers
perc_fivestar_paid = fivestar_vine_reviews.review_id.count() / vine_reviews.review_id.count()
print(perc_fivestar_paid)

0.4203703703703704

In [48]:
# Percentage of 5 star reviews to total reviews for UNpaid (NON-vine) reviewers
perc_fivestar_unpaid = fivestar_nonvine_reviews.review_id.count() / nonvine_reviews.review_id.count()
print(perc_fivestar_unpaid)

0.463893865882874